body{
	font-family:"Raleway Thin",sans-serif;
	background: -webkit-linear-gradient(bottom, #2DBD6e, #A6F77b);
    background-repeat: no-repeat;
}
h1{
	text-align: center;
	font-weight: 300;
}
h2{
	text-align: center;
	font-weight: 300;
}
.tulisan_login{
	text-align: center;
	text-transform: uppercase;
}
.kotak_login{
	width: 350px;
	background: white;
	margin: 80px auto;
	padding: 30px 20px;
}
label{
	font-size: 11pt;
}
.form_login{
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}
.tombol_login{
	background: #46de4b;
	color: white;
	font-size: 9pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	margin-bottom: 3px;
	padding: 5px 10px;
}
.tombol_reset{
	background: #dc143c;
	color: white;
	font-size: 9pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 5px 10px;
}
 
.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}
 
.kotak_pendaftaran{
	width: 350px;
	background: white;
	margin: 80px auto;
	padding: 30px 20px;
}
 
.form_pendaftaran{
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}
 
.tombol_simpan{
	background: #46de4b;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}
.wrap{
	background: #ADD8E6;
	width: 800px;
	margin: 30px auto;
}
 
.wrap .header{
	background: #7CFC00;
	padding: 2px px px;
	height: 10%;
}
 
.wrap .menu{
	background: #7CFC00;
	height: %
}
 
.wrap .menu ul{
	padding: 1px;
	margin: 1px;
	background: #FFA500;
	overflow: hidden;
}
.wrap .menu ul li{
	float: left;
	list-style-type: none;
	padding: 10px;
}
.clear{
	clear: both;
}

.badan{
	height: 200px;
	width: 100%;
}

.wrap .badan .sidebar {
	float: left;	
	width: 100%;
	height: 300%;	
}
.wrap .footer{
	background: #FFA500;
	width: 100%;
	padding: 10px;
}
.data {
	height: 250px;
	background-position: 0 -275px;
	border-top: 5px solid salmon;
	border-bottom: 5px solid lightskyblue;
}
.wrap .sosmed{
	padding: 1px;
	margin: 5px;
	overflow: hidden;
}